* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #fafafa;
}

.navbar {
    position: relative;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(218, 217, 217);
}

.navbar .container {
    padding: 15px 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .logo {
    display: inline-block;
    cursor: pointer;
}

.searchbar {
    width: 10%;
    text-align: end;
}

.searchbar input {
    background-color: #fafafa;
    padding: 5px;
    text-indent: 21px;
    outline: none;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 2px;
    color: rgb(77, 77, 77);
}

.searchbar img {
    position: absolute;
    margin-left: -10.5rem;
    margin-top: 0.25rem;
}

.searchbar input::placeholder {
    font-weight: lighter;
    color: rgb(172, 172, 172);
}

.nav-links {
    font-weight: lighter;
    color: rgb(172, 172, 172);
    /* background: #333 ; */
}

.nav-group .nav-item {
    list-style-type: none;
    margin: 0 8px;
}

.nav-group .nav-item a {
    font-size: 22px;
    display: block;
    color: black;
}

.nav-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .menu {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    position: relative;
    margin-top: 60px;
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background: #ddd; */
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.card {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
}

.card .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .bottom {
    padding: 10px 20px;
}

.card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
}

.profilepic {
    display: inline-block;
    cursor: pointer;
}

.profilepic .profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
}

.profilepic .profile_img .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.profilepic .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h3 {
    /* width: 100%; */
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.card .top .userDetails h3 span {
    font-size: 0.75em;
}

.card .top .userDetails h3 span {
    font-size: 0.75em;
}

.dot {
    transform: scale(0.6);
    cursor: pointer;
}

.imgBx {
    position: relative;
    min-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns svg {
    cursor: pointer;
}

.actionBtns .left svg {
    margin-right: 8px;
}

.likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    color: #4d4d4f;
}

.message {
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    line-height: 1.5em;
}

.message b {
    color: #262626;
}

.message span {
    cursor: pointer;
    color: #1d92ff;
}

.comments {
    margin-top: 10px;
    font-weight: 400;
    color: #999;
}

.addComments {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.addComments a {
    color: #1d92ffcb;
    font-weight: 500;
}

.addComments .reaction {
    position: relative;
    font-size: 1.3rem;
    margin-right: 10px;
    color: rgb(88, 88, 88);
}

input.text {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
}

input.text::placeholder {
    color: #777;
}

.postTime {
    margin-top: 8px;
    font-weight: lighter;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
    .container {
        width: 100% !important;
    }

    .navbar .container {
        padding: 15px 10px !important;
    }

    .card {
        margin-bottom: 10px;
        width: 70%;
        border: none;
    }

    .imgBx {
        position: relative;
        width: 100%;
        min-height: 400px;
        margin: 10px 0 15px;
    }

    .searchbar {
        display: none;
    }
}

.toggle {
    --width: 100px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
    background-color: #2196F3;
}

.toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}
.svg-icon {
    width: 3em;
    height: 3em;
    margin-right: 5px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}