@import '../shared/styles/variables.css';
@import '../shared/styles/app-bottom-header.css';
@import '../shared/styles/app-top-header.css';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* background-color: var(--white); */
    background: whitesmoke;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
}

input {
    font-size: 1rem;
}
