@import '../shared/styles/variables.css';
@import '../shared/styles/form.css';
@import '../shared/styles/app-top-header.css';
@import '../shared/styles/app-bottom-header.css';
@import '../shared/styles/loading-indicator.css';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.content {
    max-width: var(--sm);
    margin: 0 auto;
    padding: 1rem 1rem 7rem 1rem;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}

.forms {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    width: 33%;
}

input,
button,
select {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
}

button {
    cursor: pointer;
}

.upload-form {
    /* background: plum;
    border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 60%;
    min-width: 450px;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
    padding: 50px 30px;
}

.upload-form i {
    font-size: 50px;
    cursor: pointer;
}

.file-container {
    width: 90%;
}

.file-container img {
    max-width: 100%;
    position: relative;
}

/* .upload-form p {
    margin-top: 15px;
} */
/*.view-designs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#view-designs-button {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    color: #77465a;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */
