@import 'variables.css';

.app-bottom-header {
    height: 4rem;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -3px 20px -10px rgba(0, 0, 0, 0.73);
    z-index: 1;
}

.app-bottom-header-content {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;
    gap: clamp(1rem, 20vw, 10rem);
    background-color: white;
}

.app-header-icon {
    font-size: 1.5rem;
    scale: 0.8;
    transition: all 0.1s;
    fill: var(--blue);
    cursor: pointer;
}

.app-header-icon > svg {
    width: 2rem;
    height: 2rem;
}

.app-header-icon:hover {
    scale: 1;
}
