@import './variables.css';

.app-top-header-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px -3px 20px -10px rgba(0, 0, 0, 0.73);
    height: 4rem;
}

.app-top-header-content-profile {
    align-items: center;
    gap: 0.4rem;
    display: none;
}

@media screen and (min-width: 600px) {
    .app-top-header-content-profile {
        display: flex;
    }
}

.app-top-header-content-profile > img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
    border-radius: 50%;
}

.app-top-header-toggle-button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    cursor: pointer;
}

.app-top-header-content {
    background: #bdd8ca;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.app-top-header-content ul {
    width: 100%;
    text-align: right;
}

.app-top-header-content ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.app-top-header-content ul li a {
    color: #fff;
    text-decoration: none;
}

.app-top-header-sub-menu-wrap {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10;
    box-shadow: 0px -3px 20px -10px rgba(0, 0, 0, 0.73);
    background: white;
    border-radius: 10px;
}
.app-top-header-sub-menu-wrap.open-menu {
    max-height: 400px;
}

.app-top-header-sub-menu {
    padding: 20px;
    margin: 10px;
}

.app-top-header-user-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.app-top-header-user-info h3 {
    font-weight: 500;
}

.app-top-header-user-info img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.app-top-header-sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.app-top-header-sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    color: #525252;
    margin: 12px 0;
}

.app-top-header-sub-menu-link p {
    width: 100%;
}

.app-top-header-sub-menu-link i {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.app-top-header-sub-menu-link span {
    font-size: 22px;
}
.app-top-header-sub-menu-link:hover span {
    transform: translateX(5px);
}
.app-top-header-sub-menu-link:hover p {
    font-weight: 600;
}

@media (min-width: 1024px) {
    .att-top-header-content{
        height: 6em;
        font-size: 1.5em;
    }
}

@media (max-width: 1024px){
    .att-top-header-content{
        height: 5em;
        font-size: 1em;
    }
}

@media (max-width: 768px){
    .att-top-header-content{
        height: 4em;
        font-size: 0.8em;
    }
}

@media (max-width: 480px){
    .att-top-header-content{
        height: 3em;
        font-size: 0.6em;
    }
}