:root {
    --input-border-color: #c7c7c7;
    --input-border-color-hover: #919191;
    --input-border-color-active: #797979;
    --input-border-color-focus-visible: #757575;
    --input-text-color: #c7c7c7;
    --input-label-text-color: #7e7e7e;
}

.app-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.app-form > div > label:first-child {
    font-size: 0.7rem;
    color: var(--input-label-text-color);
}

.app-form-input {
    transition: all 0.3s;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;

    color: var(--input-label-text-color);
    border: 2px solid var(--input-border-color);
}

.app-form-input:hover {
    border: 2px solid var(--input-border-color-hover);
}

.app-form-input:active {
    border: 2px solid var(--input-border-color-active);
}

.app-form-input:focus-visible {
    border: 2px solid var(--input-border-color-focus-visible);
}

.app-form > div > button,
.app-form-action-button {
    transition: all 0.3s;
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--blue-500);
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.app-form-action-outline-button {
    transition: all 0.3s;
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--blue-500);
    background-color: transparent;
    color: var(--blue-500);
}

.app-form > div > button:hover {
    background-color: var(--blue-600);
}

.form-messages {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-error-message {
    margin: 0;

    background: rgba(201, 0, 0, 0.6);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}

.form-success-message {
    margin: 0;

    background: rgba(0, 138, 36, 0.6);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}
